body {
    font-size: 14px;
    font-family: "Roboto";
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        p {
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            font-weight: 900;
            margin: 0;

        }

        a {
            text-decoration: none;
            color: #363636;
            border: 1px solid #363636;
            padding: 5px 20px;
            display: block;
            font-weight: 600;
            border-radius: 5px;
            font-size: 16px;
        }

        a:hover {
            background: #363636;
            color: #fff;
            transition: all .6s;
        }

        a:not(:hover) {
            transition: .6s;
        }
    }

}

.navbar {
    background-color: #292d30;
    padding: 20px 0;
    display: flex;

    .fa-bars {
        color: #fff;
        margin-left: 10px;
        font-size: 24px;
    }

    .navbar-toggler:focus {
        outline: none;

    }

    .navbar-nav {
        margin: auto;

        .nav-item {
            margin-right: 10px;

            .nav-link {
                color: #fff;
                font-size: 18px;
                font-weight: 300;
                text-align: center;


            }
        }
    }

}

.main {
    height: 100vh;
    background: url("../img/bg_1.png") no-repeat center center;
    background-position: cover;
    color: #fff;
    display: flex;

    &__content {
        margin: auto;
        text-align: center;

        h1 {
            font-size: 60px;
            font-weight: 300;
        }
        h2{
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 10px 0;
        }
        p{
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 70px;
        }
        a{
            text-transform: uppercase;
            color:#fff;
            background: #059feb;
            padding:10px 20px;
            font-weight: 600;
            border-radius:20px;
            text-decoration: none;
        
        
        }

    }
}

















@media(max-width:992px) {}

@media(max-width:768px) {
    .header__top {
        p {
            font-size: 14px;
        }

        a {
            font-size: 14px;
            padding: 5px 10px;
        }
    }
}

@media(max-width:576px) {}

@media(max-width:481px) {
    .header__top {
        p {
            font-size: 12px;
        }

        .first_p {
            font-size: 11px;
        }

        a {
            font-size: 12px;
            padding: 3px 5px;
        }
    }
}